.search-panel {
  background-color: #171e30;

  &--mini {
    max-width: 41rem;
    padding: 0;
    margin-left: auto;
    background-color: transparent;

    @media (max-width: 767px) {
      max-width: none;
      flex-direction: row;
    }

    .input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .button {
      margin-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      @media (max-width: 767px) {
        width: auto;
        flex-grow: 0;
        margin-top: 0;
      }
    }
  }
}

.field,
.button {
  height: 4.4rem;
}

.label-copy {
  color: rgba(0, 0, 0, 0.54);
  transform-origin: 0 0;
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  line-height: 1;

  .is-label-top & {
    transform: scale(0.7) translateY(-1.4rem);
  }
}

.input {
  padding-bottom: 0.1rem;
}

.button {
  background-color: #ff6b00;
  color: #fff;
}
